.main-ui-container {
    height: 100vh;
    position: relative;
}

.main-navbar {
    position: fixed;
    top: 0;
    z-index: 200;
}

.main-bottom-bar {
    position: fixed;
    bottom: 0;
    /* z-index: 200; */
    background-color: white;
}
.main-qr{
    position: relative;
    margin-top: -60px;
    background-color: white;
}
.see-more-btn{
    z-index: 100;
    margin-top: -30px;
}
.paymentCategory-text {
    font-size: 10px;
}

